/* You can add global styles to this file, and also import other style files */
/* NORMALIZE CSS */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.c-container {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}
.c-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.c-container.c-main-container {
  padding: 70px 10px 20px;
}
.c-nav-block {
  display: block;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
}
.c-nav-block.c-as-header {
  top: 0;
  bottom: auto;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.c-nav-block.c-as-footer {
  top: auto;
  bottom: 0;
  z-index: 999;
  padding: 10px;
}
.c-nav-block.c-as-footer.c-no-background {
  background-color: rgba(255, 255, 255, 0);
}
.c-view-title {
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 20px 0;
}
.c-single-contact-list-card {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
}
.c-single-contact-list-card:last-child {
  margin-bottom: 100px !important;
}
.c-single-contact-list-card > .card-body {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.c-single-contact-list-card > .card-body:hover {
  background-color: #e3f2fd;
}
.c-single-contact-list-card > .card-body > table {
  width: 100%;
}
.c-single-contact-list-card > .card-body > table > tbody > tr > td:last-child {
  width: 1%;
}
.c-single-contact-list-card > .card-body > table > tbody > tr > td .c-has-phone-number {
  display: block;
}
.c-single-contact-list-card > .card-body > table > tbody > tr > td .c-has-phone-number .c-v-divider {
  display: none;
}
@media only screen and (min-width: 992px) {
  .c-single-contact-list-card > .card-body > table > tbody > tr > td .c-has-phone-number {
    display: inline;
  }
  .c-single-contact-list-card > .card-body > table > tbody > tr > td .c-has-phone-number .c-v-divider {
    display: inline;
    margin-left: 4px;
  }
}
.c-footer-fab-button {
  position: absolute !important;
  left: auto !important;
  right: 10px !important;
  bottom: 30px !important;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 50%;
  /* Firefox 1-3.6 */
  -moz-border-radius: 50%;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
/* MODAL STYLES */
.c-modal-container {
  display: none;
}
.c-modal-container .c-custom-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 99999;
}
body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
