/* You can add global styles to this file, and also import other style files */
/* NORMALIZE CSS */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.c-container {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}
.c-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.c-container.c-main-container {
  padding: 70px 0 0;
}
.c-nav-block {
  display: block;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
}
.c-nav-block.c-as-header {
  top: 0;
  bottom: auto;
  z-index: 999;
}
.c-nav-block.c-as-footer {
  top: auto;
  bottom: 0;
  z-index: 999;
}
.c-nav-block.c-as-footer.c-no-background {
  background-color: rgba(255, 255, 255, 0);
}
.c-view-title {
  text-align: center;
  font-size: 16px;
  color: #2196F3;
  padding: 20px 0;
}
.c-contacts-list-item {
  margin-bottom: 5px;
  position: relative;
}
.c-contacts-list-item > .mat-icon-button {
  position: absolute;
  right: 10px;
  top: 14px;
  left: auto;
  bottom: auto;
}
.c-footer-fab-button {
  position: absolute !important;
  left: auto !important;
  right: 10px !important;
  bottom: 30px !important;
}
.c-block-button {
  width: 100% !important;
}
/* MODAL STYLES */
.c-modal-container {
  display: none;
}
.c-modal-container .c-custom-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}
body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
custom-modal {
  /* modals are hidden by default */
}
